
#test{
    /* background: linear-gradient(-45deg, #fdb6a1, #bd8bff); */
	background: linear-gradient(-45deg, rgb(179, 52, 218),rgb(238, 183, 169), rgb(184, 220, 235), rgb(68, 52, 218));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100%;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}}