<form (ngSubmit)="OnSubmit(amount_spent)" >
    <!-- <div class="form-group my-3" >
      <h3>Description</h3>
      <input class="w-75"placeholder="Ice-cream?" name="added_money" id="added_money" >
        [(ngModel)] ="added_money"  
    </div> -->
    <div class="form-group my-3">
      <label for="exampleInputPassword1" class="d-block">Add amount spent</label>
      <input class="w-75"  [(ngModel)]="amount_spent" placeholder="In number" name="amount_spent" id="amount_spent">
      <!-- [(ngModel)] ="desc" -->
    </div>
    
    <button type="submit" class="btn btn-primary ">Submit</button>
  </form>