

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#" routerLink="/home" routerLinkActive="active">Home <span class="sr-only"></span></a>
        <a class="nav-item nav-link" href="#" routerLink="/daily-expense-app" routerLinkActive="active">daily-expense-app</a>
        <a class="nav-item nav-link" href="#" routerLink="/todo" routerLinkActive="active">todo-web-app</a>
        
      </div>
    </div>
  </nav>