.strike{
    text-decoration: line-through;
}

.success{
    border-style: solid;
    border-radius: 6px;
    
    color: white;
    background-color: #4CAF50;
    
}

.pending{
    border-style: solid;
    border-radius: 6px;
    background-color: #008CBA;
    color: white;
}

.todo-sections{
    background-color: rgb(255,255,255,0.2);
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: rgb(255,255,255,0);
    
}