<body>
    <div class="row" style="margin:10px;">
        <!-- <div class="col align-self-end " >
            <span class="float-right h2 font-weight-normal align-top" style=" align-content:flex-end;  border: 2px; border-style: solid; border-radius: 15px; border-color: black; padding:20px; background-color: rgba(255, 255, 255, 0.521); align-items: right; margin-right:5px; padding-left: 30px; padding-right: 30px;">
            8:23
            </span>
      
        </div> -->
        <div class="col">
            <div class="row">
                <div class="col " style="text-align: right;">
                  <p class=" font-weight-normal"  style=" font-size:  75px; color: rgb(255, 175, 2);">7582</p>
                  <h5 class=" font-weight-light">Budget</h5>
                </div>
                <div class="col">
                    <p class=" font-weight-normal"  style="font-size:  75px; color: rgb(16, 206, 57);">7582</p>
                    <h5 class=" font-weight-light">Available</h5>
                </div>
                
              </div>
        </div> 
       
    </div>

</body>