<body>
    <h1 class="text-center">This is daily expense app</h1>
    <div class="d-flex justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col">
                <div style="margin:10px">
                    <h2 style="text-align: right;">
                        Budget: <span>4520</span>
                    </h2>
                </div>
                 </div>
                <div class="col" style="margin:10px;    ">
                    <h2>
                        Available: <span>4205</span>
                    </h2>
                </div>
            </div>
            
               
                    <div style="display:block;">
                        <button class="btn btn-primary">add money</button>
                    </div>
               
            </div>
        </div>
        
    
</body>